/* 文章模块样式 */


/* 带背景 */

body {
    background-color: #f2f3f7;
    padding: 15px;
}


/* 给整个表单设置宽度 */

.add-btn {
    float: right;
    margin-top: 5px;
}

.add-form,
.edit-form {
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 30px;
}


/* 选择封面的 插件样式 */


/* 封面容器的样式 */

.cover-box {
    display: flex;
}


/* 左侧裁剪区域的样式 */

.cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
}

.cover-left img {
    width: 400px !important;
}


/* 右侧盒子的样式 */

.cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 预览区域的样式 */

.img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}


/* 文章列表的样式 */

.list-table {
    margin-top: 15px !important;
}